
h2 {
font-size: 24px;
margin: 0;
padding: 0;
}

p {
font-size: 16px;
line-height: 1.5;
margin-bottom: 20px;
}
.image {
float: right;
margin: 0 0 20px 20px;
max-width: 62%;
height: auto;
border: 2px solid #cccccc;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.image2 {
float: left;
margin: 0 20px 20px 0;
max-width: 60%;
height: auto;
border: 2px solid #cccccc;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.footer {
background-color: #fb4604;
color: #ffffff;
padding: 10px;
text-align: center;

clear: both;
}
