body {
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background: linear-gradient(to right, rgb(102, 239, 114), rgb(255, 249, 239));

padding: 0;
margin: 10;
}
header {
text-align: left;
font-family:'Times New Roman', Times, serif;

}
h1{ 
background: linear-gradient(to right, rgb(46, 249, 83), rgba(206, 254, 123, 0.589));
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 32px;
color: #043901 ;

text-shadow: 1px 1px 2px rgba(26, 137, 235, 0.667);
border-bottom: 2px solid #07461f11;
padding-bottom: 20px;
margin-bottom: 12px;
padding: 6px;
margin: 1px;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #fb4604;
}
li {
float: left;
}
li a {
display: block;
color: rgb(255, 255, 255);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li a:hover:not(.active) {
background-color: #24cc2f;
}
.active {
background-color: #dd1d1d;

}
.footer {
background-color: #fb4604;
color: #ffffff;
padding: 10px;
text-align: center;

clear: both;
}